{erl_opts, [debug_info]}.

{deps, [
    {fast_xml, "1.1.24"},
    {amqp_client, {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}},
    {brod, {git, "git://github.com/klarna/brod.git", {tag, "3.3.0"}}},
    {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.4.5"}}},
    {pooler, {git, "https://github.com/seth/pooler.git", {tag, "1.5.2"}}},
    {ibrowse, "4.4.0"}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{profiles, [
    {doc, [
        {plugins, [
            {rebar_edown_plugin,
                {git, "git://github.com/altenwald/rebar_edown_plugin.git", {branch, "master"}}
            }
        ]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github},
            {top_level_readme, {"./README.md", "http://github.com/manuel-rubio/snatch"}}
        ]}
    ]},
    {test, [
        {deps, [
            {elli, "1.0.5"}
        ]}
    ]},
    {dev, [
        {plugins, [rebar3_hex]}
    ]}
]}.


