{erl_opts, [
    debug_info,
    {i, "_build/default/lib/fast_xml/include"}
]}.

{deps, [
    {xmpp, "1.1.14"},
    {amqp_client, {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}}
]}.

{overrides, [
    {add, xmpp, [{erl_opts, [{i, "_build/default/lib/fast_xml/include"}]}]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.

{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls, undefined_functions,
           deprecated_function_calls, deprecated_functions]}.
